@model IEnumerable<Car_Rental_MVC.Models.Car>

@{
    ViewBag.Title = "CarDetails";
}

<h2>Car Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelNo)
        </th>
        <th>Edit </th>
        <th>Delete </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) </td>
            <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

<h1><a href="@Url.Action("AdminZone","Home")">Back to Admin Zone</a></h1>